@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
* {
  font-family: 'Montserrat';
  font-style: normal;
  color: #FF6060;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 1250px;
}

@media (min-width: 768px) and (max-width: 1250px){
  .App{
    margin: 20px
  }
}
@media (max-width: 768px) {
  a, p{
    font-size: 12px;
  }
  h2, h3{
    font-size: 18px;
  }
}